.movies-card {
  background-color: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.movies-card__image {
  width: 270px;
  height: 151px;
  cursor: pointer;
}

.movies-card__main-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 12px;
}

.movies-card__info-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.movies-card__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-width: 206px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.movies-card__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin: 0;
}

.movies-card__like-button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border-radius: 50px;
  position: relative;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.movies-card__like-button:hover {
  opacity: 0.8;
}

.movies-card__like-button::after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100px;
  top: 2px;
  right: 2px;
  background-color: #F9F9F9;
  position: absolute;
}

.movies-card__delete-button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 100px;
  background: center / contain no-repeat url(../../images/movie-delete.svg);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.movies-card__delete-button:hover {
  opacity: 0.8;
}

.movies-card__like-button_active::after {
  background-color: #2BE080;
}

@media screen and (max-width: 1000px) {
  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 500px) {
  .movies-card__image {
    width: 300px;
    height: 168px;
  }
}