.not-match {
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-match__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto 0;
  color: #000000;
  margin: 70px 0 0;
}

@media screen and (max-width: 500px) {
  .not-match__title {
    font-size: 24px;
    line-height: 30px;
  }
}