.checkbox__container {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.checkbox__button {
  position: relative;
  width: 36px;
  height: 20px;
  appearance: none;
  background-color: #EBEBEB;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.checkbox__button::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #F5F5F5;
  border-radius: 100px;
  transform: scale(1.1);
  transition: .35s;
}

.checkbox__button:checked {
  background-color: #2BE080;
}

.checkbox__button:checked::before {
  left: 18px;
  background: #FFF;
}

.checkbox__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 0 14px;
}

@media screen and (max-width: 1000px) {
  .checkbox__container {
    flex-flow: row-reverse;
    padding-top: 30px;
  }

  .checkbox__title {
    margin: 0 16px 0 0;
  }
}

@media screen and (max-width: 700px) {
  .checkbox__container {
    flex-flow: row-reverse;
    justify-content: center;
    padding-top: 41px;
  }

  .checkbox__title {
    font-size: 11px;
    margin-right: 13px;
  }
}