.techs {
  background-color: #F5F5F5;
  padding: 0 70px;
}

.techs__title-container {
  border-bottom: 1px solid #000;
  height: 100%;
}

.techs__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 100px 0 23px;
  margin: 0;
}

.techs__main-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 90px auto 0;
}

.techs__main-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 26px auto 0;
}

.techs__list {
  max-width: 690px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 90px));
  justify-content: center;
  padding: 0 0 100px 0;
  list-style-type: none;
  margin: 100px auto 0;
  gap: 10px;
}

.techs__list-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  width: 90px;
  background: #E8E8E8;
  border-radius: 10px;
  padding: 21px 0 22px;
}

@media screen and (max-width: 1000px) {
  .techs {
    padding: 0 50px;
  }

  .techs__title {
    padding-top: 90px;
  }

  .techs__main-title {
    margin-top: 80px;
  }

  .techs__main-subtitle {
    margin-top: 22px;
  }

  .techs__list {
    margin-top: 83px;
    padding-bottom: 90px;
    grid-template-columns: repeat(auto-fill, minmax(84px, 84px));
  }

  .techs__list-item {
    width: 84px;
    padding: 21px 0;
  }
}

@media screen and (max-width: 750px) {
  .techs {
    padding: 0 18px;
  }

  .techs__title {
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .techs__main-title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__main-subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 22px;
    max-width: 292px;
  }

  .techs__list {
    max-width: 178px;
    margin-top: 50px;
    padding-bottom: 70px;
  }

  .techs__list-item {
    font-size: 12px;
    line-height: 15px;
  }
}