.login {
  max-width: 396px;
  margin: 70px auto 0;
}

.login__logo-link {
  max-width: 38px;
  display: block;
}

.login__logo {
  width: 38px;
  height: 38px;
  background: center / contain no-repeat url(../../images/header-logo.svg);
  cursor: pointer;
}

.login__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px 0;
}

.login__label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.login__input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 376px;
  height: 46px;
  border: none;
  background: #F9F9F9;
  outline: none;
  border-radius: 8px;
  margin-top: 10px;
  padding-left: 15px;
}

.login__input_error {
  color: #FF4062;
}

.login__error {
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  padding-top: 10px;
}

.login__submit {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 396px;
  height: 45px;
  background: #000000;
  color: #FFF;
  border: none;
  border-radius: 3px;
  margin-top: 159px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.login__submit:hover {
  opacity: 0.8;
}

.login__submit-subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  text-align: center;
  margin: 16px auto 0;
}

.login__link {
  color: #000000;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.login__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .login {
    margin-top: 232px;
  }
}

@media screen and (max-width: 500px) {
  .login {
    margin-top: 56px;
    max-width: 260px;
  }

  .login__logo-link {
    margin: 0 auto 0;
  }

  .login__title {
    margin: 50px auto 0;
    text-align: center;
  }

  .login__form {
    margin: 80px auto 0;
    max-width: 260px;
  }

  .login__input {
    width: 240px;
  }

  .login__auth-container {
    position: absolute;
    bottom: 30px;
  }

  .login__submit {
    font-size: 12px;
    line-height: 15px;
    width: 260px;
  }

  .login__submit-subtitle {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }
}