.about-me {
  padding: 0 70px;
}

.about-me__title-container {
  border-bottom: 1px solid #000;
  height: 100%;
}

.about-me__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 110px 0 23px;
  margin: 0;
}

.about-me__main-container {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}

.about-me__description-container {
  position: relative;
  width: 600px;
}

.about-me__main-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-me__main-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 0;
}

.about-me__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 600px;
  margin: 26px 0 0;
}

.about-me__social-list {
  display: flex;
  gap: 0 20px;
  padding-left: 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.about-me__social-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  margin: 0;
}

.about-me__social-item:hover {
  opacity: 0.7;
}

.about-me__avatar {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  background: center / cover no-repeat url(../../images/me.png);
}

@media screen and (max-width: 1000px) {
  .about-me {
    padding: 0 50px;
  }

  .about-me__title {
    padding-top: 90px;
  }

  .about-me__description-container {
    width: 384px;
  }

  .about-me__main-title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__main-subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
    margin-top: 20px;
  }

  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 750px) {
  .about-me {
    padding: 0 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    padding: 70px 0 28px;
  }

  .about-me__main-container {
    flex-direction: column;
    flex-flow: column-reverse;
    margin: 60px auto 0;
  }

  .about-me__description-container {
    width: auto;
    margin-top: 40px;
  }

  .about-me__main-title {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__main-subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    max-width: 364px;
    margin-top: 20px;
  }

  .about-me__social-list {
    position: relative;
    bottom: auto;
    margin: auto;
    gap: 0 26px;
    margin-top: 40px;
  }

  .about-me__social-item {
    font-size: 14px;
    line-height: 17px;
  }

  .about-me__avatar {
    width: 292px;
    height: 352px;
  }
}